@charset "utf-8";
/* CSS Document */
html ,body{
	height:100%;	
}

.container .book-img_msg{
	margin:22px;
	height:100%;
	background-color:#fff;
	padding:22px;
	float:left;
	width:88%;
	border-bottom:solid 1px #FFCCFF;
}
.book-img {
	height:100%;
	float:left;
	width:auto;
}
.book-img img{
	width:170px;
	float:left;
}
.book-msg b{
	margin-left:5%;
	float:left;
	font-size:35px;
	width:auto;
}
.book-msg ul{
	margin:0; padding:0;
	list-style-type:none;
	color:#ccc;
	float:left;
	width:auto;
}
.book-msg ul li { float:left;padding:0px 0 5px 12px; line-height:25px; margin-left:15px;}
.book-msg .img_bookmsg{
	float:left;
	margin-top:5%;
	margin-left:5%;
	width:70%;
	height:100%;
}
.book-msg .book_button{
	margin-top:5%;
	margin-left:5%;
	float:left;
	width:40%;
	height:100%;
}
.book-msg .book_button button{
	float:left;
	padding:4% 15% 4% 15%;
	border-radius:25px;
	border:none;
}
.container .content{
	margin-top:-22px;
	margin-left:22px;
	height:100%;
	background-color:#fff;
	width:88%;	
	float:left;	
	padding:22px;
}
.pl{
float:left;	
width:49%;
height:100%;
}
.pl b{
	font-size:24px;	
	font:bolder;	
	margin-right:5%;
	float:left;
	height:100%;
}
.show_pl, .sz_book{
	margin-left:5%;
	margin-top:5%;
	padding:0;
	font-weight:normal;
	float:left;
	width:100%;
	height:100%;
}
@charset "utf-8";
/* CSS Document */
.container{ float:left; margin-left:14.1%; margin-bottom:2%;}
.main_t{
 height:auto;	
 float:left;
 width:100%;
}
.main_d{
 height:auto;
 float:left;
 width:100%;
}
.book-img_msg{
	background-color:#fff;
	width:90%;
	margin-left:2.5%;
	margin-top:2.5%;
	padding:22px;
	border-bottom:solid 1px #FFCCFF;
	float:left;
}
.book-img{
	float:left;
	
}
.book-img img{
	width:170px;
}
.book-msg{
	float:left;
	margin_top:22px;
	margin-left:5%;
	width:70%}
.book-msg b{
	font-size:33px;
	float:left;
}
.book-msg ul {
	width:100%;
    list-style-type: none;
	    color: #ccc;
}
.book-msg ul li{
    float:left;
	margin-left:5%;
}
.img_bookmsg{
	float:left;
	margin-top:5%;
}
.book_button{	float:left; width:100%; margin-top: 5%;margin-left: 5%;}
.book_button a{}
.book_button a button {
       padding: 2% 7% 2% 7%;
    border-radius: 25px;
    border: none;
	float:left;
	color:#FFF;
}
.content{float:left; background-color:#fff;width:90%;margin-left:2.5%;padding:22px;}
.book_button span{	float:left; margin-top:1.5%;}
.pl{float:left; width:45%;margin-left:2.5%}
.pl b{
	font-size:24px;	
	font:bolder;	
	margin-right:5%;
	float:left;
}
.show_pl, .sz_book{
	margin-left:5%;
	margin-top:5%;
	padding:0;
	font-weight:normal;
	float:left;
	width:100%;
	height:100%;
}
.pl .show_pl p{
	font-size:16px;	
	font-weight:normal;
	margin-right:5%;
	color:#666;
	width:80%;
	float:left;
	height:100%;
}
.pl .menu_list1 a button, .sz .menu_list2 a button{
	margin-top:5%;
	float:left;
	border-radius:20px;
	padding:1% 4%;
	background-color:#F063A5;
	border:none;
}
.sz{
	float:left;
	width:49%;
}
.sz b{
	font-size:24px;	
	font:bolder;	
	margin-right:5%;
	float:left;
}
.sz .sz_book{
	float:left;
}	
.sz .sz_book p{
	font-size:16px;	
	font-weight:normal;
	color:#666;
	float:left;
	width:100%;
}
.pl_book textarea{
	resize: none;
	border:solid 2px #F1F1F1;
	background-color:#F4F4F4;
	padding:2%;
	margin-top:7%;
	width:78%;
}