<!DOCTYPE html>
<html lang="en"> 
<head>

	<meta charset="utf-8">
	<title>www.h2design.com</title>
	<meta name="description" content="Free Html5 Templates and Free Responsive Themes Designed by Kimmy | zerotheme.com">
	<meta name="author" content="www.zerotheme.com">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="__PUBLIC__/css/css/zerogrid.css">
	<link rel="stylesheet" href="__PUBLIC__/css/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/css/css/responsive.css">
	<link rel="stylesheet" href="__PUBLIC__/css/css/responsiveslides.css" />
	<link href='./images/favicon.ico' rel='icon' type='image/x-icon'/>
	<link rel="stylesheet" href="__PUBLIC__/css/css/books/bootstrap.min.css">
    
    <link rel="stylesheet" href="__PUBLIC__/css/css/books/book_jia.css">
	
</head>
<body>
<div class="container">
<!--------------Header--------------->
<header style=""> 
	
  <nav style="float:left; background:#DCD1B1; margin-left:10% !important; position:relative;">
		<ul class="menu" style="float:left; ">
			<li><a href="{:U('Home/Index/index')}">书城</a></li>
			<li><a href="{:U('Home/Index/book_jia')}">书架</a></li>
			<li><a href="{:U('Home/Index/people')}">我的</a></li>			
		</ul>
   </nav>
   
   <nav style="background:#DCD1B1;">
        <ul class="menu">
        <li><a href="{:U('Home/Index/login')}">登陆</a></li>
            <li><a href="{:U('Home/Index/register')}">注册</a></li>
         </ul>
        <br>
   </nav>
    <div style=" float:right; margin-top:6%; margin-right:25%;">
            <input type="search" placeholder="Search" style=" padding:5px; width:auto; background-color:#F6F6F6; 
            position:absolute; right:25%; top:39%;border:solid 2px #851916;"/>
            <input type="text" onClick="" readonly style="width:30px;height:23px; background:url(__PUBLIC__/images/images/search.jpg) no-repeat;background-size:100% 100% !important; position:absolute; right:26%; top:41%;">
            
            
            <input type="button" onClick="" value="搜索" 
            style="height:29px;padding:3.95px;width:auto; background-color:#F6F6F6;position:absolute; right:21.5%; top:39%; border-radius:0 15px 15px 0; border:solid 2px #851916;"/>
        
    </div>
</header>

<!-- Classes Section -->
<section class="classes-section-2">
		<div class="row">
			<div id="mixer">
				<div class="col-sm-3 col-xs-12 mix kinder play">
					<div class="single-class">
						<a href="books.html">
                            <div class="class-img">
                                <img alt="" src="__PUBLIC__/images/images/aa2.jpg">
                                <div class="class-hover"> </div>
                            </div>
                             <h3>Happy Kiddo</h3>		
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-12 mix primary story">
					<div class="single-class">
                    	<a href="books.html">
                            <div class="class-img">
                                <img alt="" src="__PUBLIC__/images/images/aa3.jpg">
                                <div class="class-hover">
                                </div>
                            </div>
                                <h3>Junior Lambs</h3>
                         </a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-12 mix kinder primary">
					<div class="single-class">
                    	<a href="books.html">
                            <div class="class-img">
                                <img alt="" src="__PUBLIC__/images/images/aa1.jpg">
                                <div class="class-hover">
                                </div>
                            </div>
                                <h3>Master Mind</h3>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-12 mix story kinder">
					<div class="single-class">
                         <a href="books.html">   
                            <div class="class-img">
                                <img alt="" src="__PUBLIC__/images/images/aa5.jpg">
                                <div class="class-hover">
                                </div>
                            </div>
							<h3>Happy Kiddo</h3>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-12 mix kinder play">
					<div class="single-class">
                    	<a href="books.html">
                            <div class="class-img">
                                <img alt="" src="__PUBLIC__/images/images/aa4.jpg">
                                <div class="class-hover">
                                </div>
                            </div>
                        	<h3>Junior Lambs</h3>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-12 mix primary story">
					<div class="single-class">
                    	<a href="books.html">
                            <div class="class-img">
                                <img alt="" src="__PUBLIC__/images/images/aa2.jpg">
                                <div class="class-hover">
                                </div>
                            </div>
							<h3>Master Mind</h3>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-12 mix kinder primary">
					<div class="single-class">
                    	<a href="books.html">
                            <div class="class-img">
                                <img alt="" src="__PUBLIC__/images/images/aa3.jpg">
                                <div class="class-hover">
                                </div>
                            </div>
							<h3>Happy Kiddo</h3>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-12 mix play story">
					<div class="single-class">
                    	<a href="">
                            <div class="class-img">
                                <img alt="" src="__PUBLIC__/images/images/aa1.jpg">
                                <div class="class-hover">
                                </div>
                            </div>
							<h3>Junior Lambs</h3>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-12 mix kinder play">
					<div class="single-class">
                    	<a href="">
                            <div class="class-img">
                                <img alt="" src="__PUBLIC__/images/images/aa3.jpg">
                                <div class="class-hover">
                                </div>
                            </div>
							<h3>Master Mind</h3>
						</a>
					</div>
				</div>          
                <div class="col-sm-3 col-xs-12 mix kinder play">
					<div class="single-class">
                    	<a href="">
                            <div class="class-img">
                                <img alt="" src="__PUBLIC__/images/images/aa1.jpg">
                                <div class="class-hover">
                                </div>
                            </div>
							<h3>Master Mind</h3>
						</a>
					</div>
				</div>
                <div class="col-sm-3 col-xs-12 mix kinder play">
					<div class="single-class">
                    	<a href="">
                            <div class="class-img">
                                <img alt="" src="__PUBLIC__/images/images/aa4.jpg">
                                <div class="class-hover">
                                </div>
                            </div>
							<h3>Master Mind</h3>
						</a>
					</div>
				</div>
                <div class="col-sm-3 col-xs-12 mix kinder play">
					<div class="single-class">
                    	<a href="">
                            <div class="class-img">
                                <img alt="" src="__PUBLIC__/images/images/aa2.jpg">
                                <div class="class-hover">
                                </div>
                            </div>
							<h3>Master Mind</h3>
						</a>
					</div>
				</div>        
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-xs-12 text-center">
				<ul class="paginations">
					<li class="active"><a href="#">上一页</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">6</a></li>
					<li><a href="#">7</a></li>
					<li><a href="#">8</a></li>
					<li><a href="#">9</a></li>
					<li><a href="#">10</a></li>
					<li><a href="#">下一页</i></a></li>
				</ul>
			</div>
		</div>
	
</section>

</div>
</body>
	<script src="__PUBLIC__/js/js/jquery.min.js"></script>
	<script src="__PUBLIC__/js/js/responsiveslides.js"></script>
    <script src="__PUBLIC__/js/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/js/books/jquery.min.js"></script>
	<script src="__PUBLIC__/js/js/books/mixIt.js"></script>
    <script src="__PUBLIC__/js/js/books/main.js"></script>
</html>